
/*--------------------------------------------------------------
1 Body
----------------------------------------------------------------*/
body {
	margin:2.357em auto 0;
	max-width:67em;
	position:relative;
}
/*--------------------------------------------------------------
2 Header
----------------------------------------------------------------*/
#header {
	
}
#header a.logotype {
	
}
/*--------------------------------------------------------------
3 Navigation
----------------------------------------------------------------*/
	/*----------------------------------------------------------
	3.1 Global
	------------------------------------------------------------*/
	nav#global {
		position:absolute;
		top:2em;
		right:0;
	}
	nav#global li {
		float:left;
		margin:0 0 0 4.714em;
	}
	nav#global li a {
		color:#333;
		font-size:114.3%;
		text-transform:uppercase;
	}
	/*----------------------------------------------------------
	3.2 Local
	------------------------------------------------------------*/
/*--------------------------------------------------------------
4 Content
----------------------------------------------------------------*/
/*--------------------------------------------------------------
5 Footer
----------------------------------------------------------------*/
footer {
	border-top:1px solid #ccc;
	margin:3em 0 2em;
	padding:1.5em 0 0;
	text-align:center;
}
footer p {
	display:inline-block;
	margin:0 .6em 0 0;
}