
@model List<Stormbreaker.Dropbox.Models.MetaData>

<div class="dialog">
    <div>
        <h1>Dropbox</h1>
        <div>
            <ul>
                @foreach (Stormbreaker.Dropbox.Models.MetaData file in this.Model) {
                    <li>
                        <a href="#" data-val="@file.Path">@file.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>