

body {
  min-width: 940px;
  background: #fff;
}

/* Containers
----------------------------------------------------------------------------------------------------*/

.container {
  margin:0 auto;
  width: 940px;
  clear:both;
}

#top-divider 
{
  width: 100%;
  border-bottom:1px solid #B8BBBD;
  padding-top: 22px;
  background: #f1f5f9;
  background-image: -webkit-radial-gradient(circle farthest-side,#fff 0%,#ccd6da 100%);
  background-image: -moz-radial-gradient(circle farthest-side,#fff 0%,#ccd6da 100%);
  background-color: #ccd6da;
  background-repeat: no-repeat;
  overflow:hidden;
}

/* Subpage
----------------------------------------------------------------------------------------------------*/
.subpage { background-color:#f0f0f0;}

.subpage #header { height:50px; margin-bottom:0px;}

.subpage #top-divider 
{
background: #f1f5f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f1f5f9 0%, #ccd6da 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f9), color-stop(100%,#ccd6da)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1f5f9 0%,#ccd6da 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1f5f9 0%,#ccd6da 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1f5f9 0%,#ccd6da 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f1f5f9 0%,#ccd6da 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f9', endColorstr='#ccd6da',GradientType=0 ); /* IE6-9 */

}

.subpage #logo img {
  height:30px;
}

.subpage #nav {
margin-top:0px;
}

.subpage p {margin:30px; font-size:14px;}

#doc {width:760px; background-color:#fbfbfb; height:auto;  border-radius: 4px; 
      
      
  -webkit-box-shadow:    0 0 1px rgba(80, 84, 92, 0.25),0 1px 2px rgba(80, 84, 92, 0.5);
  -moz-box-shadow:    0 0 1px rgba(80, 84, 92, 0.25),0 1px 2px rgba(80, 84, 92, 0.5);
box-shadow:         0 0 1px rgba(80, 84, 92, 0.25),0 1px 2px rgba(80, 84, 92, 0.5);

margin-bottom:80px;
margin-left:180px;

padding-bottom:30px;
position:relative

}

#doc img {margin:30px;}

#doc h2 { background:#fff; margin:0; padding:30px; border-bottom:1px solid #dadada; border-radius: 4px 4px 0 0; }
#docnav h3 { font-size:14px; margin:20px 0 0 20px;}

#docnav {width:180px; background-color:#f5f6f6; margin:0px 0 0px 0; border-radius: 4px 0 0 4px; 
         
-webkit-box-shadow: 0 0 1px rgba(80, 84, 92, 0.45),0 1px 2px rgba(80, 84, 92, 0.2);
-moz-box-shadow:    0 0 1px rgba(80, 84, 92, 0.45),0 1px 2px rgba(80, 84, 92, 0.2);
box-shadow:         0 0 1px rgba(80, 84, 92, 0.45),0 1px 2px rgba(80, 84, 92, 0.2);
position:absolute;
top:4px;
bottom:4px;

}

#docnav ul { margin:5px 0 20px 20px; } 
#docnav li { margin:2px 0 0 0; list-style: none; font-size:14px; color:#5092bd;}

#docpage { margin-top:80px; position:relative;}

#docnav li .active { color:#225883; }

#docnav a:link  
{
    color:#454e55;
    font-size:16px;
    text-decoration:none;
    
}

#docnav a:visited {color:#454e55;}
#docnav a:hover  {color:#225883;}
#docnav a:active {color:#225883;}

/* Content
----------------------------------------------------------------------------------------------------*/

#header { height:50px; margin-bottom:35px;}

#logo {
  width: 220px;
  float:left;
}

#logo img { height:40px;}

#nav {
float: right;
margin-top:10px;
list-style:none;
}

#nav li 
{
    display:inline;
    margin-left:40px;
    
}

#video-conatiner {
  float:left;
  margin-top: 50px;
  margin-bottom: -50px;
	margin-left:10px;	
}

#video-conatiner img  
{
    width:920px;                  
     border:1px solid #666;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
	
	-moz-box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);    

}

#buttons 
{
  width: 100%; 
  background:#f8f8f8;
  padding:50px 0 50px 0;
  border-top:1px solid #fff;
  float:left;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #fff);
  background-image: -moz-linear-gradient(top, #f0f0f0, #fff);
}

.icon:before {
    content: attr(data-icon);
    font-family: 'EntypoRegular';
    font-size: 60px;
    font-weight: normal;
    margin: 0 10px 0 0;
    vertical-align: middle;
    line-height:0px;
    
}

#placeholder 
{
  width: 506px; 
  margin:0px auto;
}

#placeholder p { float:left; font-size:18px; color:#888;}

#nuget 
{
    display:inline block;
    float:left;
    width:240px;
    text-align:center;
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 2px 3px -2px rgba(0, 0, 0, 1);
	-webkit-box-shadow:0 1px 0px rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 2px 3px -2px rgba(0, 0, 0, 1);
	
	background-color:#2d7cbb;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5fa9d6), to(#246eb1));
	background-image: -webkit-linear-gradient(top, #5fa9d6, #246eb1); 
	background-image:    -moz-linear-gradient(top, #5fa9d6, #246eb1);
	background-image:     -ms-linear-gradient(top, #5fa9d6, #246eb1);
	background-image:      -o-linear-gradient(top, #5fa9d6, #246eb1);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#5fa9d6, endColorstr=#246eb1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#5fa9d6, endColorstr=#246eb1)";
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:13px 0px;
	text-shadow:0px -1px 0px rgba(0, 0, 0, 0.4);
	color:#fff; 
    text-decoration:none; 
    font-size:18px;
	font-weight:bold;
	border: 1px solid #2e7ebd;
	border-bottom:1px solid #14497a;
}

#github
{
    display:inline block;
    float:left;
    margin-left:20px;
    width:240px;
    text-align:center;
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 2px 3px -2px rgba(0, 0, 0, 1);
	-webkit-box-shadow:0 1px 0px rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow:0 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 2px 3px -2px rgba(0, 0, 0, 1);
	
	background-color:#2dbb4b;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d15e), to(#33aa20));
	background-image: -webkit-linear-gradient(top, #73d15e, #2ea41e); 
	background-image:    -moz-linear-gradient(top, #73d15e, #33aa20);
	background-image:     -ms-linear-gradient(top, #73d15e, #33aa20);
	background-image:      -o-linear-gradient(top, #73d15e, #33aa20);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#73d15e, endColorstr=#33aa20);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#73d15e, endColorstr=#33aa20)";
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:13px 0px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
	color:#fff; 
    text-decoration:none; 
    font-size:18px;
	font-weight:bold;
	border: 1px solid #2da31d;
	border-bottom:1px solid #258718;
}

#nuget:hover {
	background-color:#1e75d7;
}

#github:hover {
	background-color:#4fb032;
}

   
.feature  
{
    padding:80px 0 80px 0;
    border-top:1px solid #eee;
    clear: both;
    overflow:hidden;
    
}

.feature-text {
  width: 380px;
}

.feature-image {
  width: 496px;
}

.more-features  
{
    padding:80px 0 80px 0;
    clear: both;
    overflow:hidden;
    border-top:1px solid #eee;
    
}

.more-feature {
  width: 280px;
  float:left;
  margin-right:40px;
}

#footer 
{
  background: none repeat scroll 0 0 #fafafa;
  width: 100%;
  border-top:1px solid #ddd;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align:center;
  float:left;
  font-size:14px;

}

.right {float:right;}
.left {float:left;}
.last { margin:0;}
