
/* Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
  font-size: 100%;
  font-size:16px;
  line-height:1.5;
  font-weight: 400;
  color:#111;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('icons/Entypo-webfont.eot');
    src: url('icons/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('icons/Entypo-webfont.woff') format('woff'),
         url('icons/Entypo-webfont.ttf') format('truetype'),
         url('icons/Entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding:0;
  margin:0 0 5px 0;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  padding:0;
  margin:44px 0 18px 0;
}

h3 {
  font-size: 21px;
  font-weight: 400;
  padding:0;
  margin:0 0 10px 0px;
  width: 320px;
}


/* Text
----------------------------------------------------------------------------------------------------*/

p  
{
    font-size:16px; 
    color:#666;
    
}

#top-divider p {text-align: center; font-size:18px; color:#9ba4a9;}


/* Links
----------------------------------------------------------------------------------------------------*/

a:link  
{
    color:#454e55;
    font-size:16px;
    text-decoration:none;
    
}

a:visited {color:#454e55;}
a:hover  {color:#222;}
a:active {color:#222;}

#footer a { font-size:14px;}