<table cellpadding="0" cellspacing="0" border="0">
@foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForEdit && !ViewData.TemplateInfo.Visited(pm))) {
    if (prop.HideSurroundingHtml) {
        <text>@Html.Editor(prop.PropertyName)</text>
    } else {
        <tr>
            <td>
                <div class="display-label" style="text-align: right;">
                    @Html.Label(prop.PropertyName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.Editor(prop.PropertyName)
                    @Html.ValidationMessage(prop.PropertyName, "*")
                </div>
            </td>
        </tr>
    }
}
</table>
