@using BrickPile.UI.Common
@model BrickPile.Samples.Controllers.TheProp

<div id="@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)">
    
    @Html.EditorFor(x => x.Test)

    <button type="button">Push me</button>

</div>

@Html.Section(
    @<script>
        require(['brickpile','/content/test.js'], function (brickpile, test) {
            brickpile.app.on('editor:loaded', function () {
                var view = new test({
                    el: '#@ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty)'
                });
            });
        });
    </script>,
"scripts")
