@model BrickPile.Sample.ViewModels.PageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <div class="main">
        <h1 class="structural">@Model.CurrentModel.Heading</h1>
        <p class="introduction"><span>@Model.CurrentModel.MainIntro</span></p>
        @Html.Raw(Model.CurrentModel.MainBody)                        
    </div>
    <aside>        
        <figure>
            <img src="http://placehold.it/422x509" />
            @if (!String.IsNullOrEmpty(Model.CurrentModel.ImageCaption)) {
            <figcaption>
                @Html.Raw(Model.CurrentModel.ImageCaption)
            </figcaption>
            }
        </figure>
    </aside>
</article>