
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    <ul>
        <li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard selected" })</li>
        <li><a href="#/content" class="content">Content</a></li>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content" })</li>
        <li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li>
    </ul>
}

<h1>Now will you move along to content, little fella?</h1>

