
@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    <ul>
        <li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard selected" })</li>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content" })</li>
    </ul>
}

<h1>Dashboard</h1>

