/*--------------------------------------------------------------
1 Global
----------------------------------------------------------------*/
/*html { border-top:5px solid #192227; }*/
/*--------------------------------------------------------------
2 Header
----------------------------------------------------------------*/
header {
    /*border-top:5px solid #192227;
    background-color:#28353d;*/
    background: url(../images/header.png) repeat-x 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1.7em 1em 1.2em;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index: 100;
}
header div {
    background:transparent;
    box-shadow:none;
 	max-width:64.5em;
	min-width:760px;
	margin:0 auto;	    
}
/*--------------------------------------------------------------
3 Global navigation
----------------------------------------------------------------*/
nav {
    position:absolute;
    right:0;
    top:12px;
    z-index: 100;
}
nav li { float:left; }
nav a:link,
nav a:visited {
    color:#e9ece3;
    display:block;
    font-size:85.7%;
    padding:1em;
    padding-left:20px;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(0,0,0,1);
}
nav a.dashboard {
    background: url(/areas/ui/images/sprite.png) no-repeat 0 -119px;
}
nav a.content {
   background: url(/areas/ui/images/sprite.png) no-repeat 0 13px;
}
nav a.content.selected {
    background-position:0 -52px;
}
nav a.users {
   background: url(/areas/ui/images/sprite.png) no-repeat 0 -359px;
}
nav a.users.selected {
    background-position:0 -307px;
}
nav a.dashboard.selected {
    background-position:0 -185px;
}
nav a:link.selected,
nav a:visited.selected {
    color:#dcf5c3;
}
/*--------------------------------------------------------------
4 Footer
----------------------------------------------------------------*/
footer {
    color: #fff;
    font-size: 85.7%;
    margin-top: 2.2em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
/*--------------------------------------------------------------
5 Growl
----------------------------------------------------------------*/
#growl {
    background: -moz-linear-gradient(top, rgba(60,60,60,0.8), rgba(0,0,0,1));
    background: -webkit-linear-gradient(top, rgba(60,60,60,0.8) 0%,rgba(0,0,0,1) 100%);
    box-shadow: 0 1px 0 rgba(137,137,137,1) inset;
    border-radius:5px;
    border:1px solid #000;
    color:#989898;
    font-size:11px;
    padding:10px;
    position:fixed;
    top:73px;
    right:20px;
    text-shadow:0 -1px 0 rgba(0,0,0,8);
    width:250px;
}
#growl strong {
    color:#f2f2f2;
    font-size:12px;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,8);
}

/*--------------------------------------------------------------
5 Common
----------------------------------------------------------------*/
.deleted { opacity: 0.7; }