#assets {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:500;
}
#assets aside {
    border-radius: 5px 5px 0 0;
    background-color:#fff;
    position:absolute;
    left:25%;
    top:50%;
    width:790px;
}
#assets aside h1 {
    border-radius: 5px 5px 0 0;
    color:#6b6f64;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: -moz-linear-gradient(top, #f1f2ef, #e5e7e1);
    background: -webkit-linear-gradient(top, #f1f2ef 0%,#e5e7e1 100%);
    font-size:100%;
    text-shadow:0 1px 0 rgba(255,255,255,1);
}

.overlay {
    background:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
}
.overlay aside.dialog {
    margin:17em auto 0;
    position:relative;
    width:36.5em;
}
aside.dialog h1 {
    background:-moz-linear-gradient(top, #f1f2ef 0%, #e5e7e1 100%);
    background:-webkit-linear-gradient(top, #f1f2ef 0%,#e5e7e1 100%);
    border-radius:5px 5px 0 0;
    border-bottom:1px solid #d7dad0;
    box-shadow:0 1px 0 rgba(215,218,208,1),0 1px 0 rgba(255, 255, 255, .7) inset;
    color:#6c6d6b;
    font-weight:bold;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:100%;
    padding:15px 0;
    text-align:center;
    text-shadow:0 1px 0 rgba(255,255,255,1);
}
aside.dialog #container {
    /*background-color:#fff;*/
    text-align:left;
}
aside.dialog li {
    border-bottom:1px solid #d7dad0;
    position:relative;
}
aside.dialog .menu a:link,
aside.dialog .menu a:visited {
    color:#28353d;
    display:inline-block;
    font-weight:bold;
    text-decoration:none;
    padding:17px 13px 18px;
}
aside.dialog span.button {
    margin:0;
    position:static;
}
aside.dialog .editor-button {
    background:-moz-linear-gradient(top, #e9ebe6 0%, #d6dad0 100%);
    background:-webkit-linear-gradient(top, #e9ebe6 0%,#d6dad0 100%);    
    border-radius: 0 0 5px 5px;
    padding:1em;
    text-align: right;    
}
aside.dialog .close {
    position:absolute;
    right:14px;
    top:17px;
}
aside.dialog .menu li.selected {
    background-color:#eff9fe;
    border-color:#e0f3fe;
    border-top:1px solid #e0f3fe;
    margin-top:-1px;
}
aside.dialog a.button {
    background:-moz-linear-gradient(top, #d3d2d1 0%, #afafaf 100%);
    background:-webkit-linear-gradient(top, #d3d2d1 0%,#afafaf 100%);
    border-radius:20px;
    box-shadow:0 1px 0 #cfd4cf;
    display:inline-block;
    margin-bottom:-7px;
    padding:1px !important;
}

aside.dialog a.button img {
	background:-moz-linear-gradient(top, #fff 0%, #e2e6da 100%);
	background:-webkit-linear-gradient(top, #fff 0%,#e2e6da 100%);	
	border-radius:20px;
	padding:6px;
	display:block;
}
aside.dialog a.button img:hover,
aside.dialog table td:last-child span span img:hover  {
	background:-moz-linear-gradient(top, #fafafa 0%, #d8dbd0 100%);
	background:-webkit-linear-gradient(top, #fafafa 0%,#d8dbd0 100%);
}
aside.dialog a.button img:active,
aside.dialog a.button img:focus {
	background:-moz-linear-gradient(top, #e2e6da 0%, #fff 100%);
	background:-webkit-linear-gradient(top, #e2e6da 0%,#fff 100%);
	box-shadow:0 1px 1px rgba(0,0,0,0.2) inset;
}
aside.dialog a.navigator {
    position:absolute;
    right:20px;
    top:15px;
}
aside.dialog span.parent {
    position:absolute;
    left:10px;
    right:auto;
    top:10px    
}
div#scroll {
   	width: 511px;
	height: 218px;
	overflow: auto;
	float: left;
	display: inline-block;
}
.filebrowser #scroll { width: 100%;}
aside.dialog a.link {
    outline:none;
}
aside.dialog #scroll { background-color:#fff; }
aside.dialog .additional-block { height:270px; }
/*--------------------------------------------------------------
6 File browser
----------------------------------------------------------------*/
.overlay aside.filebrowser {
    width:56.429em;
}
.overlay aside.filebrowser .additional-block {
    height: 388px;
}
.overlay aside.filebrowser #scroll {
    height: 336px;
}
.overlay aside.filebrowser ul {
    background-color: #fff;
    overflow: hidden;
    padding: 1em;
}

.overlay aside.filebrowser a.selected img {
    border-color: #4F98E8;
    box-shadow: 0 0 2px #4F98E8;
}

.overlay aside.filebrowser li {
    margin: 0 1em 1em 0;
}
.overlay aside.filebrowser li  {
    /* basic styling */
    width: 118px;
    height: 118px;
    border: 0;

    /* flexbox, por favor */
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: center;
 
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    -moz-box-pack: end;
    -moz-box-align: center;
          
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;          
  
    display: inline-box;
    box-orient: vertical;
    box-pack: end;
    box-align: center;

    vertical-align: top;
}
.overlay aside.filebrowser li img {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color : #fff;
    padding: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1)
}