<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="S3VirtualPathRoot" value="~/static/" />
    <add key="S3Bucket" value="static.getbrickpile.com" />
    <add key="S3Hostname" value="http://static.getbrickpile.com" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
  </appSettings>
</configuration>