<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VirtualPathRoot" value="~/assets/" />
    <add key="PhysicalPath" value="c:\temp" />
    <add key="S3VirtualPathRoot" value="~/static/" />
    <add key="S3Bucket" value="static.getbrickpile.com" />
    <add key="S3Hostname" value="http://static.getbrickpile.com" />
    <add key="AWSAccessKey" value="AKIAI27DENYWNWMCQ3AA" />
    <add key="AWSSecretKey" value="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" />
  </appSettings>
</configuration>