
@model BrickPile.UI.Models.NewModel
@using BrickPile.UI.Common

<aside id="models"> 
    <h1><span>Create page</span></h1>
    @Html.ValidationSummary()
    @using (Html.BeginForm("new", "content", new { model = Model.CurrentModel }, FormMethod.Post, new { name = "editForm" }))
    {
        @Html.RadioButtonForSelectList(m => m.SelectedPageModel, new SelectList(Model.AvailableModels, "Value", "Text"))
    }
</aside>

