
@model BrickPile.UI.Models.ConfirmFormModel
           
<div class="overlay">
    <aside>
        <h1>@Html.Raw(Model.Message ?? "Are you sure you want to delete this page?")</h1>
        <section>
            @using (Html.BeginForm("delete","content", new { model = Model.CurrentModel })) {
                @Html.HiddenFor(m => m.BackAction)
                <menu>
                    <input type="submit" name="Continue" value="Yes, delete it" class="button" />
                    @Html.ActionLink("No, cancel", Model.BackAction ?? "index", new { model = Model.CurrentModel }, new { @class = "button close" })
                </menu>
            }
        </section>
    </aside>
</div>