
@model BrickPile.UI.Models.NewModel
@{
    ViewBag.Title = "It's time to create your first page";
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

<h1>It's time to create your first page</h1>
@using (Html.BeginForm("new", "content")) {
    <div>
        <fieldset>
            @Html.LabelFor(model => model.AvailableModels)
            <span class="select">
                @Html.DropDownListFor(m => m.SelectedPageModel, new SelectList(Model.AvailableModels, "Value", "Text"))
            </span>
        </fieldset>
        <div id="button">
            <span>
                <input type="submit" value="Yes, go ahead" />
            </span>
        </div>
    </div>
}
