
@model BrickPile.UI.Models.NewModel
@{
    ViewBag.Title = "It's time to create your first page";
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    <ul>
        <li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard" })</li>
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content selected" })</li>
    </ul>
}

<h1>It's time to create your first page</h1>
@using (Html.BeginForm("new", "content")) {
    <div>
        <fieldset>
            @Html.LabelFor(model => model.AvailableModels)
            @Html.DropDownListFor(m => m.SelectedPageModel, new SelectList(Model.AvailableModels, "Value", "Text"))
        </fieldset>
        <div id="button">
            <input type="submit" value="Yes, go ahead" />
        </div>
    </div>
}