
@{
    Layout = "~/Areas/BrickPile.UI/Views/Shared/_Layout.cshtml";
}

@section GlobalNavigation {
    <ul class="">
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content" })</li>
        <li>@Html.ActionLink("Preferences", "index", "settings", null, new { @class = "preferences" })</li>
        <!--li>@Html.ActionLink("Library", "index", "library", null, new { @class = "library" })</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li-->
    </ul>
}

<h1>Overview</h1>

