      html, body, div, span, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      abbr, address, cite, code,
      del, dfn, em, img, ins, kbd, q, samp,
      small, strong, sub, sup, var,
      a, b, i,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      input, textarea, button,
      table, caption, tbody, tfoot, thead, tr, th, td {
        background: transparent;
        border: 0;
        font-size: 100%;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
      }

      article, aside, figure, footer, header,
      hgroup, menu, nav, section,
      time, mark, audio, video {
        background: transparent;
        border: 0;
        font-size: 100%;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
      }

      article, aside, figure, footer, header, hgroup, nav, section {
        display: block;
      }
      body {
        line-height: 1;
      }

      ol, ul {
        list-style: none;
      }

      blockquote, q {
        border-left:solid 5px #E6E6E6;
        quotes: none;
        padding-left:10px;
        margin-left:24px;
        margin-bottom:24px;
      }

      blockquote:before, blockquote:after, q:before, q:after {
        content: "";
        content: none;
      }

      :focus, :active {
        outline: 0;
      }

      ins {
        text-decoration: none;
      }

      del {
        text-decoration: line-through;
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      input, select {
        vertical-align: middle;
      }

      select {
        margin: 0;
      }
    
      header, footer {
        overflow:hidden;
      }
      header h1 {
        float:left;
      }
      header nav {
        float:right;
      }
      .container {
        overflow:hidden;
      }
      footer ul {
        float:left;
      }
      
      .reset_all {
        border: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
      }
      
      body {
        background: #fff;
        color: #2c2c2c;
	font:87.5%/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 300;
color:#333;
      }

      h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
        font-size: 20px;
        margin: 0 0 30px 0;
      }

      h3 {
        font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
        font-size: 16px;
        margin: 0 0 10px 0;
      }

      h4 {
        font-weight: bold;
      }
		a {
			color:#4589d6;	
			text-decoration:none;
			font-weight:500;
-webkit-transition: color .2s linear;
		}
		a:hover {
			color:#3272ba;
		}
      #wrapper {
        margin: 50px auto;
        width: 540px;
      }

      header {
        margin: 0 0 50px;
      }

      header h1 a {
        background: url("http://static.tumblr.com/tmtf1tq/8iklpk9fh/brickpile-logotype.png") no-repeat;
        display: block;
        height: 35px;
        text-indent: -99999em;
        width: 170px;
      }

      header nav ul li {
        color: #8b8b8b;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        margin: 0 0 0 30px;
      }

      header nav ul li a:link, header nav ul li a:visited {
        color: #2c2c2c;
      }

      header nav ul li a:hover, header nav ul li a:active {
        color: #8b8b8b;
      }

      .container {
        font-size: 13px;
        margin: 0 0 50px 0;
      }
	footer {
		border-top:1px solid #e6e6e6;
		clear:both;
		padding-top:.5em;
		font-size:85.7%;
		color:#999;
		position:relative;
	}
	footer strong { 
		font-weight:500; 
		display:inline-block;
		margin-right:.6em;
	}
	footer a {
		font-weight:300;
		display:inline-block;
		margin-left:.6em;
	}
	footer li { display:inline; }
	footer ul {
		position:absolute;
		right:0;
		top:.5em;
	}
	footer ul a { font-weight:bold; }
      
      #blog .content {
      }

      #blog .content article {
        margin: 0 0 50px 0;
      }

      #blog .content article:last-child {
        margin: 0 0 0 0;
      }

      #blog .content article hgroup {
        margin: 0 0 30px 0;
      }

      #blog .content article hgroup h2 {
        margin: 0 0 5px 0;
      }

      #blog .content article hgroup h2 a:link, #blog .content article hgroup h2 a:visited {
        color: #2c2c2c;
      }

      #blog .content article hgroup h2 a:hover, #blog .content article hgroup h2 a:active {
        color: #8b8b8b;
      }

      #blog .content article hgroup h2 + p {
        color: #8b8b8b;
        font-size: 12px;
      }

      #blog .content article hgroup h2 + p .tweet {
        position: relative;
        top: 5px;
      }

      #blog .content article section p {
        line-height: 24px;
        margin: 0 0 24px 0;
        text-align: justify;
      }

      #blog .content article section p sup {
        font-size: .8em;
        vertical-align: super;
      }

      #blog .content article section p code {
        background: #f1f1f1;
        border: 1px solid #ddd;
        font-family: monospace;
        padding: 0 4px;
      }

      #blog .content article section p:last-child {
        margin: 0 0 0 0;
      }

      #blog .content article section ul {
        margin: 0 0 24px 0;
        padding: 0 0 0 16px;
      }

      #blog .content article section ul:last-child {
        margin: 0 0 0 0;
      }

      #blog .content article section ul li {
        line-height: 24px;
        list-style: disc;
        margin: 0 0 6px 0;
        text-align: justify;
      }

      #blog .content article section ol li {
        line-height: 24px;
        list-style-type: decimal;
        list-style-position:inside;
        margin: 0 0 6px 0;
        text-align: justify;
      }

      #blog .content article section pre {
        background: #f1f1f1;
        border: 1px solid #ddd;
        margin: 0 0 24px 0;
        padding: 8px;
        overflow: auto;
      }

      #blog .content article section pre code {
        font-family: monospace;
      }

      #blog .content article section .footnotes {
        border-top: 1px solid #e5e5e5;
        color: #999;
        font-size: 11px;
        padding: 12px 0 0 0;
      }

      #blog .content article section .footnotes hr {
        display: none;
      }

      #blog .content article section .footnotes ol {
        list-style: decimal;
        padding: 0 0 0 14px;
      }

      #blog .content article section .footnotes ol li {
        margin: 0 0 12px 0;
      }

      #blog .content article section .footnotes ol li:last-child {
        margin: 0;
      }

      #blog .content article section .footnotes ol li p {
        margin: 0;
      }

      #blog .content article .more, #blog .content article .author {
        color: #8b8b8b;
        font-family: "Lucida Grande";
        font-size: 12px;
        margin: 24px 0 0 0;
      }

      #blog aside {
        float: left;
        font-size: 12px;
        width: 220px;
      }

      #blog aside .archive {
        margin: 0 0 30px 0;
      }

      #blog aside .archive ul li {
        line-height: 24px;
      }

      #blog aside .bookmarks ul li {
        line-height: 24px;
      }