body.dashboard nav ul a {
    font-size:116.7%;
    padding:1em 0 1em 3.5em;
}
body.dashboard nav ul a.content {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -548px, -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -548px, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f4f4));
}
body.dashboard nav ul a.library {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -604px, -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -604px, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f4f4));
}
body.dashboard nav ul a.users {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -661px, -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -661px, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f4f4));
}
body.dashboard nav ul a.preferences {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -719px, -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -719px, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f4f4));
}
nav>ul>:first-child>a {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -149px, -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -149px, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f4f4));
    padding-left:2.5em;
}
nav>ul>:first-child>a:hover {
    /* For Mozilla/Gecko (Firefox etc) */
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -149px, -moz-linear-gradient(top, #fff, #f7f8fa);
    /* For WebKit (Safari, Google Chrome etc) */
	background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -149px, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f8fa));
}
nav>ul>:first-child>a.selected {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -117px, -moz-linear-gradient(top, #33a3ef, #178bd5);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat .833em -117px, -webkit-gradient(linear, left top, left bottom, from(#33a3ef), to(#178bd5));
}
nav a span.delete {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat 0 0;
    display:none;
    height:13px;
    position:absolute;
    right:1em;
    top:10px;
    width:13px;
}
nav a span.delete:hover { background-position: 0 -32px; }
nav a.selected span.delete { background-position: 0 -65px; }
nav a.selected span.delete:hover { background-position: 0 -96px; }

nav a span.add {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat 0 -323px;
    display:none;
    height:13px;
    position:absolute;
    right:2.5em;
    top:12px;
    width:18px;
}
nav a span.add:hover { background-position: 0 -352px; }
nav a.selected span.add { background-position: 0 -383px; }
nav a.selected span.add:hover { background-position: 0 -413px; }

nav a span.cut {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat 0 0;
    display:none;
    height:13px;
    position:absolute;
    right:4.5em;
    top:10px;
    width:13px;
}
nav a span.paste {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat 0 -323px;
    display:none;
    height:13px;
    position:absolute;
    right:6.5em;
    top:12px;
    width:18px;
}   
/* Dialog
****************************************************************
*/

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;        
}

.overlay aside {
    background-color:#d7d7d7;
    border:solid 1px #1a1a1a;
    border-radius: 5px;
    box-shadow: 0 -20px 40px #AAAAAA inset, 0 20px 40px #FFFFFF inset, 0 3px 20px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin: -100px 0 0 -200px;
    overflow: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    width: 400px;               
    -moz-box-sizing: border-box;
}

.overlay section {
    background:none;
    position:static;
}

.overlay h1 {
    background: -moz-linear-gradient(center top , #E7E8EB, #A8A8A8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E8EB), to(#A8A8A8));
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1) inset;
    border-bottom: 1px solid #656A80;
    border-top:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #5E646F;
    font-size: 1.333em;
    letter-spacing: .2px;
    margin-bottom: 20px;
    padding: 13px 0 10px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    line-height: normal;      
    text-transform:none;          
}

.overlay form { padding: 0 20px; }
.overlay form label {
    display:inline-block;
    width:50px;
    color: #525358;
    letter-spacing: 0.5px;    
}
.overlay input[type=text],
.overlay input[type=password],
.overlay select { margin-bottom:1em; }

.overlay aside menu {
    margin:1em 0 0;
    padding:0;
}

/*
File browser
****************************************************************
*/

.filebrowser aside { width:600px;margin-left:-300px; }

.filebrowser tr.selected td {
    background: -moz-linear-gradient(center top , #32A3F0, #1389D3);
    background: -webkit-gradient(linear, left top, left bottom, from(#32A3F0), to(#1389D3));
    border-top: 1px solid #166FA9;
    box-shadow: 0 1px 0 #84C7F4 inset;
    color: #fff;
    text-shadow: 1px 1px 1px #166FA9;
}

.filebrowser tr a { color: #525358; }
.filebrowser tr.selected a { text-shadow:none;color:#fff; }


header menu { left:0; }


.button {
    background: -moz-linear-gradient(center top , #E7E8EB, #A8A8A8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E8EB), to(#A8A8A8));
    border: 1px solid #939494;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #fff inset;
    color: #424242;
    cursor: pointer;
    margin-left: 12px;
    padding: 10px 12px 9px;
    text-shadow: 0 1px 5px #F0F0F0;     
}
.button:hover {
    background: -moz-linear-gradient(center top , #C0C9CF, #E6E7E9) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C0C9CF), to(#E6E7E9));
    /*box-shadow: 0 1px 0 #fff;*/
}
input[type=submit] {
    background: -moz-linear-gradient(center top , #32A3F0, #1389D3);
    background: -webkit-gradient(linear, left top, left bottom, from(#32A3F0), to(#1389D3));
    border: 1px solid #166FA9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px #84C7F4 inset;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #166FA9;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;    
}
input[type=submit]:hover {
    background: -moz-linear-gradient(center top , #1389D3, #32A3F0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#1389D3), to(#32A3F0));
    /*box-shadow: 0 1px 0 #fff;*/
}
.text-box {
    /*background: -moz-linear-gradient(center top , #ddd, #fff) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));*/
    border: 1px solid #989898;
    border-radius: 5px;
    /*box-shadow: 0 1px 0 rgba(255,255,255,0.3), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;*/
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #424242;
    padding: 7px;
    text-shadow: 0 1px 5px #F0F0F0;
}
select {
    background: -moz-linear-gradient(center top , #ddd, #fff) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
    border: 1px solid #939494;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #FFFFFF inset;
    color: #424242;
    padding: 7px;
    text-shadow: 0 1px 5px #F0F0F0;      
    width:296px;
}
option {
    background-color:#fff;
}
.editor-field {
    margin-bottom:1em;
}
.editor-label {
    margin:0 0 .2em 8px;
}


h1.cloud {
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat 1.5em -502px, -moz-linear-gradient(top, #F4F4F4, #C2C5C8);
    background: url(/areas/brickpile.ui/content/sprite.png) no-repeat 1.5em -502px, -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#C2C5C8)); 
}

figure {
    background: rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,0.3), 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    display:inline-block;
    padding:9px 9px 3px;
    position:relative;
    margin:0;
}
figcaption {
    color: #FFFFFF;
    font-weight: bold;
    padding:10px 0;
    text-shadow: 0 1px 0 #222222;    
}
figure div {
    background-color:#fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    padding:5px;
}
figure img {
    background:#fff;
    border:1px solid #989898;
    display:block;
}
figure menu {
    bottom:8px;
    padding:0;
    margin:0;
    position:absolute;
    right:8px;
    
}

figure menu a {
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll 1em -186px, -moz-linear-gradient(center top , #E7E8EB, #A8A8A8) repeat scroll 0 0 transparent;
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll 1em -186px, -webkit-gradient(linear, left top, left bottom, from(#E7E8EB), to(#A8A8A8));    
    border: 1px solid #939494;
    box-shadow: 0 1px 1px #FFFFFF inset;
    display:inline-block;
    color: #424242;
    cursor: pointer;
    padding: 2px 5px;
    text-indent:-9999px;
    width:20px;
}
figure menu a.edit { border-radius:15px 0 0 15px; }
figure menu a.browse {
    margin-left:-4px;
    border-radius:0 15px 15px 0;
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll .7em 5px, -moz-linear-gradient(center top , #E7E8EB, #A8A8A8) repeat scroll 0 0 transparent;
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll .7em 5px, -webkit-gradient(linear, left top, left bottom, from(#E7E8EB), to(#A8A8A8)); 
}
figure menu a.edit:hover {
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll 1em -186px, -moz-linear-gradient(center top , #C0C9CF, #E6E7E9) repeat scroll 0 0 transparent;
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll 1em -186px, -webkit-gradient(linear, left top, left bottom, from(#C0C9CF), to(#E6E7E9));    
}
figure menu a.browse:hover {
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll .7em 5px, -moz-linear-gradient(center top , #C0C9CF, #E6E7E9) repeat scroll 0 0 transparent;
    background:url("/areas/brickpile.ui/content/sprite.png") no-repeat scroll .7em 5px, -webkit-gradient(linear, left top, left bottom, from(#C0C9CF), to(#E6E7E9));    
}



#manage-users { margin-top:0; }