
/*--------------------------------------------------------------
1 Body
----------------------------------------------------------------*/

html {
    background: #373833 url(dark-pattern.png) repeat 0 0;
}

.ravendb-profiler-results h1 {
    font-family: monospace;
    background: none;
    color: #373833;
}
/*--------------------------------------------------------------
2 Header
----------------------------------------------------------------*/
header {
    padding-top: 5.385em;
    position: relative;
}

/*--------------------------------------------------------------
3 Navigation
----------------------------------------------------------------*/
	/*----------------------------------------------------------
	3.1 Global
	------------------------------------------------------------*/
	header nav {
	    left: 0;
	    margin: 0 auto;
	    max-width: 73.846em;
  		position:absolute;
		right:0;
	    top:1.769em;
	}
	header nav ul {
	    position: absolute;
	    right: 0;
	}
	header nav li {
		margin:0 0 0 21px;
		float:left;
	}
	header nav li a {
		color:#c0c0c0;
	    display: block;
		font-size:92.3%;
	    font-weight: bold;
	    font-family: Arial, sans-serif;
	    padding: 1px 14px;
		text-transform:uppercase;
	}
	header nav li a:hover { color:#dedede; }
	header nav li span.selected {
		color:#c0c0c0;
	    display: block;
		font-size:92.3%;
	    font-weight: bold;
	    font-family: Arial, sans-serif;
	    padding: 1px 14px;
		text-transform:uppercase;
	    
	}
	header nav li span.selected,
	header nav li a.expanded {
	    background-color:#20211b;
	    border-radius: 11px;
	    box-shadow: 0 1px 0 #50514c, 2px 4px 3px #11120e inset;
	    color:#fff;
	}
	/*----------------------------------------------------------
	3.2 Local
	------------------------------------------------------------*/
	#local-nav {
	    border-bottom: solid 1px #fff8ef;
	    margin-bottom: 3.308em;
	}
	#content nav a:before {
	    content: "\2192";
	    padding-right: 5px;
	}
    #content nav a:link,
    #content nav a:visited {
        border-bottom: solid 1px #c9cac6;
        border-top: solid 1px #fff8ef;
        color: #2f313d;
        display: block;
        font-family: Arial, sans-serif;
        padding: .4em 0;
    }
    #content #local-nav a.selected { color: #c6251a; }
    #content #local-nav ul a { padding-left: 1.5em; }
/*--------------------------------------------------------------
4 Content
----------------------------------------------------------------*/
#content  {
    background: #f9f5ee url(content-bg.png) repeat 0 0;
    overflow:hidden; 
    padding:3em 0 0;
}
#content div {
    max-width: 73.846em;
	margin: 0 auto 2.4em;
    overflow: hidden;
}
    /*--------------------------------------------------------------
    4.1 Article
    ----------------------------------------------------------------*/
    article {
        float: left;
        width: 72%;
    }
    article h2 {
        font-family: Arial, sans-serif;
        font-size: 1.538em;
        font-weight: bold;    
        margin-bottom: 1.3em;
    }
    /*--------------------------------------------------------------
    4.2 Aside
    ----------------------------------------------------------------*/
    aside {
        float:right;
        width:25%;
    }
    aside h2 {
        border-bottom: solid 5px #9a9b9c;
        color: #d05144;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
        padding-bottom: 7px;
    }
/*--------------------------------------------------------------
5 Footer
----------------------------------------------------------------*/
footer {
	margin:3em 0 2em;
	padding:1.5em 0 0;
	text-align:left;
}
footer div{
    max-width: 73.846em;
    margin: 0 auto;
}
footer h2 {
    color: #f3eadd;
    font-size: 1.538em;
    margin-bottom: 1em;
}
footer #textual-content {
    float: left;
    margin-right: 2.692em;
    width: 22.308em;
}
footer #categories {
    float: left;
    width: 22.308em;
}
footer #contact {
    float: right;
    width: 22.308em;
}
footer p {
    color: #767773;
	display:inline-block;
	margin-right:.6em;
}