@using BrickPile.Samples.Models
@using BrickPile.UI.Common
@model Home

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout.cshtml";
}
<h1>@Model.Heading</h1>
<p>@Model.MainIntro</p>
@Html.Raw(Model.MainBody)

@foreach (Container container in ViewBag.Containers) {
    @Html.ActionLink(container) <br />
}

