@model BrickPile.Samples.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout.cshtml";
}
<h1>@Model.CurrentPage.Heading</h1>
<p>@Model.CurrentPage.MainIntro</p>
@Html.Raw(Model.CurrentPage.MainBody)

<img src="@Model.CurrentPage.Image.Url"/>
