@model BrickPile.Samples.Models.Home

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout.cshtml";
}

<<<<<<< Updated upstream
<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <h1>Foo</h1>
            <p>Bar</p>
        </div>
    </body>
</html>
=======
<h2>@Model.Id</h2>
>>>>>>> Stashed changes
