@using BrickPile.UI.Web.Mvc.Html
@model BrickPile.Samples.Models.Home

@{
    ViewBag.Title = "title";
    Layout = "~/views/shared/_Layout.cshtml";
}

@Model.Heading

@Html.Menu()


<main>
    
@foreach (var teaser in Model.Teasers)
{
    Html.DisplayFor(x => x);
}       

</main>

<aside>

@foreach (var teaser in Model.Teasers)
{
    Html.DisplayFor(x => x);
}    

</aside>