<ul>
    @*<li>@Html.ActionLink("Dashboard", "index", "dashboard", null, new { @class = "dashboard" })</li>*@
    <li>@Html.ActionLink("Pages", "index", "pages", null, new { @class = "pages" })</li>
    @*<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li>*@
</ul>
