
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@section GlobalNavigation {
    <ul id="dashboard-nav">
        <li>@Html.ActionLink("Content","index","content")</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li>
        <li>@Html.ActionLink("Library", "index", "library")</li>
    </ul>
}
