@model BrickPile.Sample.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="push">
	<a href="@Url.Action("index", new { model = Model.CurrentModel })"><img src="http://placehold.it/938x367" alt="" /></a>
</div>

<ul id="teasers">
	<li>
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="http://placehold.it/224x172" alt="">
			</a>
		</article>
	</li>
	<li>
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="http://placehold.it/224x172" alt="">
			</a>
		</article>
	</li>
    <li>
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="http://placehold.it/224x172" alt="">
			</a>
		</article>
	</li>
	<li class="last">
		<article>
			<a href="">
				<h1>Far far away, behind the word mountains</h1>
				<p>Duden flows by their place and supplies it with the necessary regelialia</p>
				<img src="http://placehold.it/224x172" alt="">
			</a>
		</article>
	</li>
</ul>