@model Stormbreaker.Web.Mvc.ViewModels.DefaultViewModel<Stormbreaker.Example.Models.Page>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(Model.CurrentModel.MainBody)

@Html.DisplayFor(x => x.CurrentModel.PageLink)


@{
    var grid = new WebGrid(source: Model.StructureInfo.HierarchicalStructure,
                defaultSort: "Entity.MetaData.Name",
                rowsPerPage: 2);
}

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
                    grid.Column("Entity.MetaData.Name","Namn"),
                    grid.Column("Entity.MetaData.Slug","Slug")
        )
    )
</div>