<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="RavenDB.Client" version="2.5.2879" targetFramework="net451" />
  <package id="RavenDB.Database" version="2.5.2879" targetFramework="net451" />
  <package id="RavenDB.Embedded" version="2.5.2879" targetFramework="net451" />
  <package id="SquishIt" version="0.9.5.4" targetFramework="net451" />
  <package id="structuremap" version="3.0.3.116" targetFramework="net451" />
  <package id="structuremap.web" version="3.0.0.108" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="2.0.6.1" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net40" />
</packages>