/*
    Transitio - Main stylesheet
    Created by Meridium AB   

    TABLE OF CONTENTS
    -----------------
    1 Startpage
        1.1 Push
        1.2 News
        1.3 Teasers
    2 Product list
    3 News list
    4 Owners
    5 People

    FONT SIZE CONVERSIONS
    ---------------------
    10px: 71.4%
    11px: 78.6%
    12px: 85.7%
    13px: 92.9%
    14px: 100%
    15px: 107.1%
    16px: 114.3%
    17px: 121.4%
    18px: 128.6%
    20px: 142.9%
    24px: 171.4%
    38px: 271.4%

    COLORS
    ------
    Anchors: #0e4574
    Border: #d6d6d6
*/

@media screen {
    /*------------------------------------------------------------------
    1 Startpage
    -------------------------------------------------------------------*/
        /*--------------------------------------------------------------
        1.1 Push
        ---------------------------------------------------------------*/
        body.home #push {
            background:#000;
            color:#fff;
            margin:2.1em 0 0;
            min-height:389px;
            position:relative;
        }
        body.home #push img { display:block; }
        body.home #push div {
            background:url(/images/sprite.png) repeat-x;
            font-family: 'Trebuchet MS', arial;
            font-weight:bold;
            padding:0 1.5em;
            position:absolute;
            min-height:198px;
            right:-1.5em;
            text-transform:uppercase;
            top:120px;
            width:26.2em;
        }
        body.home h1 {
            color:#fff;
            font-size:264.3%;
            font-weight:bold;
            line-height:1;
            margin:.5em 0 .1em;
        }
        body.home #push div p {
            font-size:128.6%;
            line-height:1.2;
        }
        /*--------------------------------------------------------------
        1.2 News
        ---------------------------------------------------------------*/
        body.home #news {
            border-top:1px solid #d6d6d6;
            border-bottom:1px solid #d6d6d6;
            margin:2.1em 0 0;
            overflow:hidden;
        }
        body.home #news li {
            float:left;
            position:relative;
            width:50%;
        }
        body.home #news li:last-child {
            float:right;
            width:49.4%;
        }
        body.home #news li a span { display:block; }
        body.home #news li a {
            color:#404040;
            display:block;
            line-height:1.2;
            padding:.7em 0 .95em 80px;
            min-height:59px;
            text-decoration:none;
        }
        body.home #news li a:hover { color:#0e4574; }
        body.home #news li a:active strong,
        body.home #news li a:focus strong { outline:1px dotted #333; }
        body.home #news li a:active,
        body.home #news li a:focus { outline:0; }
        body.home #news img {
            position:absolute;
            left:0;
            top:1em;
        }
        body.home #news strong {
            display:inline-block; 
            font-size:92.9%;
            margin:.3em 0 .3em;
        }
        /*--------------------------------------------------------------
        1.3 Teasers
        ---------------------------------------------------------------*/        
        body.home #teasers {
            overflow:hidden;
            margin:2.1em -1.1em 0 0;
        }
        body.home #teasers li {
            float:left;
            width:25%;
        }
        body.home #teasers li a {
           background:#e2ebf2;
           color:#404040;
           display:block;
           line-height:1.3;
           padding:134px 1em 0;
           position:relative;
           margin:0 1.1em 0 0;
           min-height:109px;
           overflow:hidden;
           text-decoration:none;
        }
        body.home #teasers li a:hover,
        body.home #teasers li a:active,
        body.home #teasers li a:focus {
            background:#dae5ed; 
            color:#0e4574;
            outline:0;
        }
        body.home #teasers li a:active p,
        body.home #teasers li a:focus p {
            outline:1px dotted #333;
        }
        body.home #teasers li h2 {
            color:#404040;
            font-size:121.4%;
            text-transform:uppercase;
            padding:.5em 0 .4em;
            margin:0;
        }
        body.home #teasers img {
            position:absolute;
            top:0;
            left:0;
        }
    /*------------------------------------------------------------------
    2 Product list
    -------------------------------------------------------------------*/
    body.products #article li {
        border-top:1px solid #ccc;
        padding:0 0 1em;
    }
    body.products #article li h2 { margin:.8em 0; }
    body.products #article li div {
        background:#e2ebf2;
        position:relative;
        padding:0 0 0 458px;
        margin:0 0 1em;
        min-height:201px;
    }
    body.products #article li img {
        position:absolute;
        left:0;
        top:0;
    }
    body.products #article li h3 {
        color:#404040; 
        padding:1.8em 0 1em;
    }
    /*------------------------------------------------------------------
    3 News list
    -------------------------------------------------------------------*/
    body.newslist h2 {
        text-transform:none;
        font-size:114.3%;
        font-weight:bold;
        font-family:Arial;
        margin:0 0 .6em;
    }
    body.newslist #article #main ul {
        padding:0;
        list-style-type:none;
    }
    body.newslist #article li {
        position:relative;
        padding:1.4em 0 .3em;
    }
    body.newslist #article .date {
        font-size:92.9%;
        left:0;
        position:absolute;
        top:0;
    }
    body.newslist #article #main { width:62.5%; }
    #article #main .archive {
        /*background:url(/images/icons.png) no-repeat 0 -156px;*/
        padding:0 0 0 10px;
    }
    /*------------------------------------------------------------------
    4 Owners
    -------------------------------------------------------------------*/
    body.owners #article ul {
        margin:2.5em -1.1em 0 0;
        padding:0 0 0 .1em;
    }
    body.owners #article ul li {
        float:left; 
        margin:0 .95em 1em 0;
        position:relative;
    }
    body.owners #article ul img {
        border:1px solid #d6d6d6;
        display:block;
    }
    body.owners #article #main {
        float:none; 
        width:63%;
    }
    body.owners #article ul div {
        position:absolute;
        top:0;
        left:0;
        background:#e2ebf2;
        height:100%;
        width:100%;
    }
    body.owners #article ul div div {
        position:static;
        top:auto;
        left:auto;
        padding:2em 1em;
        width:auto;
        height:auto;
    }
    body.owners #article ul div div span {
        display:block;
        margin:0 0 1em;
    }
    /*------------------------------------------------------------------
    5 People
    -------------------------------------------------------------------*/
    body.people #article #main {
        float:none; 
        width:63%;
    }
    body.people #article ul {
        overflow:hidden;
        margin:2.5em -2% 0 0;
    }
    body.people #article ul li {
        background:#e2ebf2;
        float:left;
        margin:0 2% 1em 0;
        overflow:hidden;
        min-height:115px;
        padding:128px 0 0 0;
        position:relative;
        width:31%;
    }
    body.people #article ul li h2 {
        color:#404040;
        font-size:107.1%;
        margin:0 0 .1em;
    }
    body.people #article ul li div { padding:1em 1em 0 1em; }
    body.people #article ul li div p { font-size:92.9%; }
    body.people #article ul li div strong {
        display:block;
        font-size:92.9%;
        font-weight:normal;
        margin:0 0 .8em;
    }
    body.people #article ul img {
        position:absolute;
        top:0;
        left:0;
    }
}