body {
    font:75%/1.6 'Helvetica Neue', Arial;
}

body.login {
    background: url(../content/linen.jpg) no-repeat fixed center top #000;
    /*background: url(http://farm5.static.flickr.com/4092/5052218835_d508d4624e_b.jpg) repeat fixed center top #000;*/
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.login div {
    background-color:#d7d7d7;
    border-radius: 5px;
    box-shadow: 0 -20px 40px #aaa inset, 0 20px 40px #fff inset, 0 3px 20px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin: -100px 0 0 -200px;
    overflow: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    width: 400px;               
    -moz-box-sizing: border-box;
}
h1 {
    background: -moz-linear-gradient(center top , #E7E8EB, #A8A8A8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7E8EB), to(#A8A8A8));
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1) inset;
    border-bottom: 1px solid #656A80;
    border-top:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #5E646F;
    font-size: 1.333em;
    letter-spacing: .2px;
    margin-bottom: 20px;
    padding: 13px 0 10px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    line-height: normal;      
    text-transform:none;          
}

form { padding: 0 20px; }
label {
    display:inline-block;    
    font-weight:bold;
    color: #525358;
    
    width:70px;    
}
input[type=text],
input[type=password] { margin-bottom:1em;width:270px; }
input[type=text]:focus {
	-moz-box-shadow: 0 0 4px #1389D3;
	-webkit-box-shadow: 0 0 4px #1389D3;
	-moz-border-radius:5px;
	border-color:#cadce8;
}
menu {
    margin:1em 0 0;
    padding:0;
}
input[type=submit] {
    background: -moz-linear-gradient(center top , #32A3F0, #1389D3);
    background: -webkit-gradient(linear, left top, left bottom, from(#32A3F0), to(#1389D3));
    border: 1px solid #166FA9;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px #84C7F4 inset;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #166FA9;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;    
}
input[type=submit]:hover {
    background: -moz-linear-gradient(center top , #1389D3, #32A3F0) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#1389D3), to(#32A3F0));
}
.text-box {
    border: 1px solid #989898;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #424242;
    padding: 7px;
    text-shadow: 0 1px 5px #F0F0F0;
}
input[placeholder] { font-style:italic;color: #939494;  }

.highlight.red {
    background: none repeat scroll 0 0 #FFE3E2;
    border: 1px solid #EFB1AF;
    color: #CC0000;
}
