.field label {
    display:block;
}

/* navigation item */
header a {
    color:#fff;
    padding:5px 10px;
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #616161, #434343);
    /* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#616161), to(#434343));
	
	border:solid 1px #000;
	
	/* Firefox */
	-moz-border-radius: 3px; 
	/* WebKit */
	-webkit-border-radius: 3px; 
	/* IE9, Opera 10.5+, dev channel releases of Google Chrome */
	border-radius: 3px; 
	
	/* Firefox, WebKit, Opera 9+ */
	text-shadow: 0 1px 0 #000;
}
header ul { overflow:hidden; }
header li { float:left; margin-right:10px;}
header li a { display:block; }

/* Overlay */

body.overlaid {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body.overlaid div.overlay {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

div.overlay {    
    /* using display none to hide the overlay nullifies -webkit-transition */
    -webkit-transform: translateY(-50000px);
    -moz-transform: translateY(-50000px);
    transform: translateY(-50000px);

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index:100;

    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
    
}
div.overlay > div.wrap-outer {
    position: relative;
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}
div.overlay > div.wrap-outer > div.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
      	
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}

div.overlay > div.wrap-outer > div.wrap > * {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;

    display: block;
}

.new-page-dialog {
    
    width: 500px;
    background: #fff;
    resize: both;
    overflow: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /*padding: 15px;*/
    
    padding-bottom:20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,1);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,1);
    box-shadow: 0 3px 6px rgba(0,0,0,1);

    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e6e6));*/
    
    background: -moz-linear-gradient(100% 100% 180deg, #d7d7d7, #e8e8e8);
    background: -webkit-gradient(linear, left top, right top, from(#e8e8e8), to(#d7d7d7));
}
      
.new-page-dialog input {
    resize: none;
}
      
.new-page-dialog h1 {
    
    color:#5e646f;
    
    font-size: 1.333em;
    letter-spacing:.2px;
    margin-bottom:31px;
    text-align:center;
    
    border-bottom:solid 1px #656a80;
    padding:13px 0 10px;
    text-shadow: 0 1px 0 #fff;
    
	-moz-border-radius-topleft:10px;
 	-moz-border-radius-topright:10px;    
    
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #e7e8eb, #a8a8a8);
    /* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#e7e8eb), to(#a8a8a8));
    	
}
.new-page-dialog h2 {
    color:#525358;
    letter-spacing:.5px;
    margin-left:41px;
}
.new-page-dialog .editor {
    margin:8px 30px 30px;
    background-color:#fff;
    border:solid 1px #a6a8af;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
}
.new-page-dialog .editor div {
    font-size:1.333em;
    padding:9px 10px 6px;
    border-bottom:solid 1px #bdbdbd;
}
.new-page-dialog .editor input { margin-bottom:0;border:0;width:340px;font-size:.875em;color:#a9a9a9;outline:0; }
.new-page-dialog .editor select { width:340px;font-size:.875em;padding:.5em; }
.new-page-dialog .editor label {
    display:inline-block;
    width:60px;
    color:#000;
}
.new-page-dialog .editor div:last-child { border:0; }
.new-page-dialog .editor-button { margin: 0 20px; text-align:right; }
.editor-button input {
	display: inline-block;
	display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .3em 1em .35em;
	text-shadow: 0 -1px 0 rgba(0,72,154,1);
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	font-size:1.333em;
	margin-right:8px;
	color: #fff;
	border: solid 1px #327acd;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#3295da), to(#1d6cbe));
	background: -moz-linear-gradient(top,  #3295da,  #1d6cbe);
}

section nav #dashboard-nav a:link,
section nav #dashboard-nav a:visited {
    background: url(../content/page_text.png) no-repeat 10px center;
    border-bottom:solid 1px #e1e1e1;
    display:block;
    font-weight:bold;
    padding:15px 10px 15px 45px;
}    
section nav #dashboard-nav a:link.users,
section nav #dashboard-nav a:visited.users {
    background: url(../content/contacts.png) no-repeat 10px center;
}    
