header {
	border-top:solid 1px #696969;
    border-bottom:solid 1px #686868;
	display : block;
	padding : 10px 0;
    height:30px;
    
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #555, #323232);
    /* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#323232));
}
nav {
    
    height:100%;
    width:100%;
}
nav ul {
    background:#fff;
    border-right:solid 1px #e4e4e4;
    padding:0;
    width:20em;
    position:absolute;
    top:52px;
    bottom:3.5em;
    left:0;
}
nav ul ul {
    border:0;
    bottom:auto;
    top:auto;
}
nav li a {
    display:block;
    padding:.6em 1.2em;
}
section {
	/*background: #f7f8f9 url(content-background.png);*/
	border-top:solid 1px #fff;
    bottom:0;
    left:20.2em;
	padding:20px;
	position:absolute;
    right:0;
    top:52px;
}
footer {
    position:absolute;
    bottom:0;
}