body,html { height:100%; }
header {
	border-top:solid 1px #696969;
    border-bottom:solid 1px #686868;
    color:#fff;
	display : block;
	height:30px;
	padding:14px 10px 6px;
    
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #555, #323232);
    /* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#323232));
}
header menu {
    padding:0;
    margin:0;   
    list-style-type:none;
}
header menu a {
    color: #fff;
    padding: 8px 12px;
    background: -moz-linear-gradient(top, #626262, #424242);
    background: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#424242));
    border: solid 1px rgba(33,33,33,1);
    font-weight:bold;
    text-decoration:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(34,34,34,1);
    box-shadow: 0 1px 1px rgba(130,130,130,1) inset, 0 1px 0 rgba(68,68,68,1);
}
header menu a:hover {
    background: -moz-linear-gradient(top, #434343, #616161);
    background: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#616161));
    box-shadow: 0 1px 0 rgba(68,68,68,1), 0 1px 1px rgba(121,121,121,1) inset; 
}
header strong {
    background: url(/areas/dashboard/content/sprite.png) no-repeat left -475px;
    display:inline-block;
    position:absolute;
    right:2.5em;
    top:1.3em;
    padding:2px 0 2px 2em;
    text-transform:capitalize;
}
nav {
    /*height:100%;
    width:100%;
    */
}
nav h1 {
    background: url(/areas/dashboard/content/sprite.png) no-repeat .833em -431px, -moz-linear-gradient(top, #F4F4F4, #C2C5C8);
    background: url(/areas/dashboard/content/sprite.png) no-repeat .833em -431px, -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#C2C5C8));
    border-bottom: 1px solid #b4b7ba;
    border-top: 1px solid #000;
    color: #969FA8;
    font-weight:bold;
    padding: 10px 10px 10px 2.5em;
    text-shadow: 0 1px 0 #fff;
    text-transform:uppercase;
    width:18.4em;    
}
nav>ul {
    top:93px;
    bottom:0;
    left:0;
    position:absolute;
}
nav ul {
    background:#f4f5f7;
    border-right: 1px solid #E2E2E3;
    border-top:solid 1px #ddd;
    padding:0;
    width:20em;
}
nav ul ul {
    border:0;
    bottom:auto;
    top:auto;
}
nav li a {
    background-image:none;
    border-bottom:solid 1px #e4e4e4;
    color:#444;
    display:block;
    font-weight:bold;
    padding:.583em .833em .5em;
    position:relative;
    text-decoration:none;
    
    /* For Mozilla/Gecko (Firefox etc) */
    background: none, -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
    /* For WebKit (Safari, Google Chrome etc) */
	background:none, -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f4f4f4));
}
nav ul ul ul a { padding-left:1.667em; }
nav ul ul ul ul a { padding-left:2.5em; }
nav ul ul ul ul ul a { padding-left:3.333em; }
nav li a:hover {
    /* For Mozilla/Gecko (Firefox etc) */
    background: none, -moz-linear-gradient(top, #fff, #f7f8fa);
    /* For WebKit (Safari, Google Chrome etc) */
	background: none, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f8fa));
}
nav li a.selected {
    background-image:none;
    border-bottom:solid 1px #177bbd;
    color:#fff;
    
    /* For Mozilla/Gecko (Firefox etc) */
    background:none, -moz-linear-gradient(center top , #32A3F0, #1389D3);
    /* For WebKit (Safari, Google Chrome etc) */
	background:none, -webkit-gradient(linear, left top, left bottom, from(#32A3F0), to(#1389D3));
	text-shadow: 1px 1px 1px #166FA9;
	
	margin-right:-1px;
}
section {
	/*background: #f7f8f9 url(/areas/dashboard/content/content-background.png);*/
	/*background: url(/areas/dashboard/content/darkfade.jpg) no-repeat fixed center top rgb(36, 36, 36);*/
	/*background: url(/areas/dashboard/content/linen.jpg) no-repeat fixed center top rgb(199, 204, 210);*/
	background: url(http://my.cl.ly/images/new/body-bg.png) repeat 0 0;
	/*background: url(http://farm5.static.flickr.com/4092/5052218835_d508d4624e_b.jpg) repeat fixed center top #000;*/
	/*background: url("/areas/dashboard/content/darkwood.jpg") no-repeat fixed center center #000000;*/
    bottom:0;
    left:20.2em;
	/*padding:20px;*/
	position:absolute;
    right:0;
    top:52px;
}
article h1 {
    background: url(/areas/dashboard/content/sprite.png) no-repeat 1.7em -177px, -moz-linear-gradient(top, #F4F4F4, #C2C5C8);
    background: url(/areas/dashboard/content/sprite.png) no-repeat 1.7em -177px, -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#C2C5C8));    
    border-bottom: 1px solid #b4b7ba;
    border-top: 1px solid #000;
    color: #969FA8;
    font-weight:bold;
    margin-left:-1px;
    padding: 10px 10px 10px 3.5em;
    text-shadow: 0 1px 0 #fff;
    text-transform:uppercase;
}
article form {
    border-top:solid 1px #ddd;
    padding:20px;
}
footer {
    /*
    height:2.5em;
    position:absolute;
    bottom:0;
	display : block;
	padding : 1em 0 0;
    /* For Mozilla/Gecko (Firefox etc) */
    /*background: -moz-linear-gradient(top, #f4f4f4, #c2c5c8);
    /* For WebKit (Safari, Google Chrome etc) */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#c2c5c8));
	width:100%;    */
}