/*
    ImageVault 4 - Global stylesheet

    TABLE OF CONTENTS
    -----------------
    1 Reset
    2 Global
    3 Forms
    4 Anchors

    FONT SIZE CONVERSIONS
    ---------------------
    10px: 83.3%
    11px: 91.7%
    12px: 100%
    13px: 108.3%
    14px: 116.7%
    15px: 125%
    16px: 133.3%
    17px: 141.7%
    18px: 150%
    20px: 166.7%
    24px: 200%
    26px: 
    38px: 

    COLORS
    ------
    Anchors: 
    Border: 
*/

@media screen {
    /*------------------------------------------------------------------
    1 Reset
    -------------------------------------------------------------------*/
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	    margin:0;
	    padding:0;
    }
    table {
	    border-collapse:collapse;
	    border-spacing:0;
    }
    fieldset,img { border:0; }
    address,caption,cite,code,dfn,th,var {
	    font-style:normal;
	    font-weight:normal;
    }
    em {
        font-weight:normal;
    }
    ol,ul { list-style:none; }
    caption,th { text-align:left; }
    h1,h2,h3,h4,h5,h6 {
	    font-size:100%;
	    font-weight:normal;
    }
    q:before,q:after { content:''; }
    abbr,acronym { border:0; }
    header, nav, article, section, aside, hgroup { display:block; }
    
    /*------------------------------------------------------------------
    2 Global
    -------------------------------------------------------------------*/
    body {
        font:75%/1.6 Arial, 'Helvetica Neue';
    }
    body.loaded {
        
    }
    /*------------------------------------------------------------------
    2 Forms
    -------------------------------------------------------------------*/
    input[type=text],
    input[type=password] {
        /*border:solid 1px #d4d4d4;
        -moz-border-radius:2px;
        -moz-box-shadow: 1px 1px 3px #d4d4d4;
        -webkit-border-radius:2px;
        -webkit-box-shadow: 1px 1px 3px #d4d4d4;
        /*background: url(/areas/dashboard/content/addbar.png) repeat-x scroll 0 0 transparent;
        border-radius: 6px 6px 6px 6px;
        position: relative;        
        /*padding:5px;*/
        width:280px;
        /*background: none repeat scroll 0 0 transparent;*/
        /*border:0;
        color: #000;
        padding: 10px 5px 7px;
        width: 300px;*/
    }
    input[type=date] {
        padding:5px;
        width:150px;
    }
    input[type=text]:focus {
	    -moz-box-shadow: 0 0 4px #1389D3;
	    -webkit-box-shadow: 0 0 4px #1389D3;
	    -moz-border-radius:5px;
	    border-color:#cadce8;
    }
    label {
        font-weight:bold;
        color:#525358;
        text-shadow: 0 1px 0 #fff;
    }
    input.input-validation-error {
	    -moz-box-shadow: 0 0 4px #bf230f;
	    -webkit-box-shadow: 0 0 4px #bf230f;
	    -moz-border-radius:3px 3px 3px 3px;
	    border-color:#bf230f;
    }
    input::-webkit-input-placeholder {
        color:#939494;
        font-style:italic;
    }

    input:-moz-placeholder {
        color:#939494;
        font-style:italic;
    }
    
    table {
        border-collapse: separate;
        width: 100%;
        margin-top:-21px;
    }

    table td {
        padding: 0.3em 0;
        background: -moz-linear-gradient(top, #F4F4F4, #C2C5C8);
        background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#C2C5C8));    
        border-top: 1px solid #989898;
        box-shadow: 0 1px 0 #B4B7BA;
        color: #969FA8;
        font-weight:bold;
        margin-left:-1px;
        padding: 8px 12px;
        text-shadow: 0 1px 0 #fff;        
    }
    
    table th {
        background: -moz-linear-gradient(center top , #626262, #424242) repeat scroll 0 0 transparent;
        border-top: 1px solid #212121;
        box-shadow: 0 1px 0 #828282 inset, 0 1px 0 #444444;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        text-shadow: 0 1px 0 #222;          
    }
    table tr { margin: 1em; }
    /*------------------------------------------------------------------
    4 Anchors
    -------------------------------------------------------------------*/    
    a {  }
    a:active,
    a:focus,
    a:hover {  }            
}