<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization culture="en" uiCulture="en-US" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.44.4396.18853" newVersion="4.44.4396.18853" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>