@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Save</h2>

@section GlobalNavigation {
    <ul class="">
        <li>@Html.ActionLink("Content", "index", "content", null, new { @class = "content" })</li>
        <li>@Html.ActionLink("Assets", "index", "library", null, new { @class = "library" })</li>
		<li>@Html.ActionLink("Users", "manageusers", "account", null, new { @class = "users" })</li>
    </ul>
}
