
/*--------------------------------------------------------------
1 Reset
----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------------
2 Basic stuff
----------------------------------------------------------------*/
@font-face {
  font-family: 'Titillium Medium';
  src: url(/content/fonts/TitilliumText22L004-webfont.eot?) format('eot'), url(/content/fonts/TitilliumText22L004-webfont.woff) format('woff'), url(/content/fonts/TitilliumText22L004-webfont.ttf) format('truetype');
}

html {
	background:#fff;

}
body {
	font:87.5%/1.6 Arial, 'Helvetica Neue', sans-serif;
	color:#333;
}
strong { font-weight:bold; }
p { margin:0 0 1.2em; }

::selection {
    background: #bd0d6c;
    color:#fff;
    }
::-moz-selection {
    background: #bd0d6c;
    color:#fff;
}

/*--------------------------------------------------------------
3 Links
----------------------------------------------------------------*/
a {
	color:#bd0d6c;
	text-decoration:none;
}
a:hover {
	color:#000;
}
/*--------------------------------------------------------------
4 Headings
----------------------------------------------------------------*/
h1,h2,h3,h4 {
    font-family:'Titillium Medium', Arial; 
    line-height:1.1;
}
h1 {
   margin:0 0 .4em;
   font-size:235.7%;
}

/*--------------------------------------------------------------
4 Classes
----------------------------------------------------------------*/
.introduction {
    font-size:178.6%;
    font-family:'Titillium Medium'; 
    line-height:1.48;
    margin:-.15em 0 .9em;
}
.introduction span { }
.introduction span cufon {
        padding:5px 0 3px;
        background:#e6e6e6;
        margin:0 0 5px;
}
.intro { font-weight:bold; }
.structural { position:absolute; left:-9999px; }