
@model System.String

@Html.TextBoxFor(x => Model, new { @readonly = true, @class = "imageurl" }) <span class="button imageurl"><input type="button" value="Browse..." id="@ViewData.TemplateInfo.HtmlFieldPrefix.Replace('.','_')" /></span>
@*Html.HiddenFor(x => Model)*@